In [152]:
import pandas as pd
import numpy as np

In [153]:
df=pd.read_csv("Churn_Modelling.csv")

In [154]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [155]:
x=df.iloc[:,3:13]
y=df.iloc[:,13]

In [156]:
contry=pd.get_dummies(x["Geography"],drop_first=True)
gender=pd.get_dummies(x["Gender"],drop_first=True)

In [157]:
x.drop(["Geography","Gender"],axis=1,inplace=True)

In [158]:
x=pd.concat([x,contry,gender],axis=1)
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [159]:
from sklearn.model_selection import train_test_split

In [160]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [161]:
from sklearn.preprocessing import StandardScaler

In [162]:
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)
#ytrain=sc.fit_transform(ytrain)

In [163]:
xtrain

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [164]:
import keras

In [165]:
from keras.models import Sequential
from keras.layers import Dense

In [166]:
classifier=Sequential()
x.shape

(10000, 11)

In [167]:
classifier.add(Dense(activation='relu',input_dim=11,units=6,kernel_initializer='uniform'))
classifier.add(Dense(activation='relu',units=6,kernel_initializer='uniform'))
classifier.add(Dense(activation='sigmoid',units=1,kernel_initializer='uniform'))

In [168]:
classifier.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_20 (Dense)            (None, 6)                 72

 dense_21 (Dense)            (None, 6)                 42

 dense_22 (Dense)            (None, 1)                 7

=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [169]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=["accuracy"])
type(xtrain)

numpy.ndarray

In [170]:
classifier.fit(xtrain,ytrain,batch_size=10,epochs = 10)

Epoch 1/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4829 - accuracy: 0.7960
Epoch 2/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4176 - accuracy: 0.7960
Epoch 3/10
800/800 [==============================] - 1s 2ms/step - loss: 0.4071 - accuracy: 0.8083
Epoch 4/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3972 - accuracy: 0.8299
Epoch 5/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3835 - accuracy: 0.8324
Epoch 6/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3746 - accuracy: 0.8429
Epoch 7/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3698 - accuracy: 0.8453
Epoch 8/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3651 - accuracy: 0.8495
Epoch 9/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3616 - accuracy: 0.8526
Epoch 10/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3590 - accuracy: 0.8553

In [171]:
from sklearn.metrics import accuracy_score,confusion_matrix
ypredict=classifier.predict(xtest)
ypredict=[ypredict>0.5]
ypredict

63/63 [==============================] - 0s 2ms/step

[array([[False],
        [False],
        [False],
        ...,
        [False],
        [False],
        [False]])]

In [176]:
ytest.head()
len(ypredict[0])
#print(confusion_matrix(ytest,ypredict))

2000

In [177]:
print(accuracy_score(ytest,ypredict[0]))

0.856