In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df=pd.read_csv("emails.csv")
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [5]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [8]:
df.drop('Email No.',axis=1,inplace=True)

In [10]:
x=df.drop('Prediction',axis=1)
y=df['Prediction']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=30)

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
knn=KNeighborsClassifier(n_neighbors=7)

In [19]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=7)

In [21]:
ypredict=knn.predict(xtest)

In [23]:
from sklearn.metrics import accuracy_score

In [25]:
score=accuracy_score(ytest,ypredict)
score

0.8576030927835051

In [30]:
cm

array([[975, 152],
       [ 69, 356]], dtype=int64)

In [32]:
from sklearn.svm import SVC

In [33]:
c=SVC()
c.fit(xtrain,ytrain)

SVC()

In [34]:
ypredict=c.predict(xtest)
print(accuracy_score(ytest,ypredict))

0.8028350515463918